/*
 ** Define the .mode-dark components styles theme
 */
.mode-dark {
  .navbar {
    background-color: theme('colors.gray.800');

    .nav {
      @media screen and (max-width: 1023px) {
        background-color: theme('colors.gray.800');
      }
    }
    .nav-links {
      @media screen and (max-width: 1023px) {
        background-color: theme('colors.gray.700');
      }
    }
  }
  .navbar .BL-logo:hover {
    rect {
      stroke: theme('colors.blue.300');
    }
    path {
      fill: theme('colors.blue.300');
    }
  }
  .nav-link:hover {
    @apply border-opacity-75;
    border-top-color: theme('colors.blue.300') !important;
    color: theme('colors.blue.300') !important;
  }

  // Buttons
  .btn-blue:focus {
    @apply bg-blue-400;
  }
  .btn-menu:focus {
    border-color: theme('colors.blue.300');
    color: theme('colors.blue.300');
  }
}
