/*
 ** Define the .mode-light components styles theme
 */
.mode-light {
  // Navbar
  .navbar {
    background-color: theme('colors.white');
    box-shadow: 0 0 3px theme('colors.gray.300');
  }
  .navbar .BL-logo:hover {
    rect {
      stroke: theme('colors.blue.700');
    }
    path {
      fill: theme('colors.blue.700');
    }
  }

  // Buttons
  .btn-blue:hover {
    @apply bg-blue-700;
  }
}