/*
 ** Define the .mode-light components styles theme
 */
.mode-light {
  // Navbar
  .navbar {
    background-color: theme('colors.white');
    box-shadow: 0 0 3px theme('colors.gray.300');

    .nav {
      @media screen and (max-width: 1023px) {
        background-color: theme('colors.white');
      }
    }
    .nav-links {
      @media screen and (max-width: 1023px) {
        background-color: theme('colors.gray.200');
      }
    }
  }
  .navbar .BL-logo:hover {
    rect {
      stroke: theme('colors.blue.700');
    }
    path {
      fill: theme('colors.blue.700');
    }
  }
  .nav-link:hover {
    @apply border-opacity-75;
    border-top-color: theme('colors.blue.700') !important;
    color: theme('colors.blue.700') !important;
  }

  // Buttons
  .btn-blue:focus {
    @apply bg-blue-700;
  }
}